<h1>Welcome to the WhiskeyPedia</h1>

<div id="container">
    <ul>
        <li><a href="/users/login">Log In</a></li>
        <li><a href="/users/new">Sign Up!</a></li>
        <li><a href="/wikis/new">New Article</a></li>
        <li><a href="/wikis/">All Articles</a></li>
    </ul>
</div>
