<link rel="stylesheet" type="text/css" href="/stylesheets/welcome.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

        <div id="header"><h1>Welcome to the Lorem Wiki Ipsum</h1>
</div>


        <div class="accordion">
            <!-- Section 1 - input, label, and panel -->
            <input type="checkbox" name="section" id="section1" value="1">
                <label for="section1">Login</label>
                <div class="section">
                    <dl>
                        <dt><a href="/users/login">To the Login Page</a> </dt>
                    </dl>
                </div>

                <!-- Section 2 - input, label, and panel -->
                <input type="checkbox" name="section" id="section2" value="2">
                    <label for="section2">To register</label>
                    <div class="section">
                        <dl>
                            <dt><a href="/users/new">Sign Up here</a> </dt>

                        </dl>
                    </div>

                    <!-- Section 3 - input, label, and panel -->
                    <input type="checkbox" name="section" id="section3" value="3">
                        <label for="section3">All Articles</label>
                        <div class="section">
                            <dl>
                                <dt><a href="/wikis/">View All Articles</a> </dt>

                            </dl>
                        </div>