<link rel="stylesheet" type="text/css" href="/stylessheets/styles.css">
<a href="/wikis/<%=wiki._id%>/edit"><button>Edit</button></a><br>
<br>


    <form action ="/wikis/<%=wiki._id%>/?_method=DELETE" method="post">
        <input type="submit" value="Delete">
    </form>