<link rel="stylesheet" type="text/css" href="/stylessheets/styles.css">

<dl>
    <% wikis.forEach(function(wiki, i) { %>
    <a href="/wikis/<%=wiki._id%>">
        <dt><%= wiki.title %> </dt>
    </a>
    <% }); %>
</dl>

<a href="/wikis/new">Add a New Article~</a>