<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

    <div id="container">
    <div id="header"><h1>All Articles</h1></div>
    <div id="nav"></div>
<dl>
    <% wikis.forEach(function(wiki, i) { %>
    <a href="/wikis/<%=wiki._id%>">
        <dt><%= wiki.title %> </dt>
    </a>
    <% }); %>
</dl>

<a href="/wikis/new">Add a New Article</a>

</div>
</div>