
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <div id="container">
    <div id="header"><h1>Drop that Lorem Ipsum Knowledge</h1></div>

    <div id="main">
    <form action="/wikis" method="post">
    <label>Article:</label><br/>
    <input type="text" name="wiki[title]" placeholder="Title"><br/>
    <label>Description:</label><br/>
    <textarea name ="wiki[content]"></textarea rows="10"><br/>
    <label>Category</label><br/>
    <input type="text" name="wiki[category]"><br/>
    <input type="submit" value="Add to my Articles"/>

        </div>
</div>
</form>