<link rel="stylesheet" type="text/css" href="/stylessheets/styles.css">
<form action="/wikis" method="post">
    <label>Article:</label>
    <input type="text" name="wiki[title]" placeholder="Title">
    <label>Description:</label>
    <textarea name ="wiki[content]"></textarea>
    <label>Category</label>
    <input type="text" name="wiki[category]">
    <input type="submit" value="Add to my Articles"/>

</form>